<nav class="scroll nav-stacked nav-active-primary">

  <ul class="nav" data-ui-nav>
    <li class="nav-header hidden-folded">
      <span class="text-xs text-muted">Welcome</span>
    </li>
    <li>
      <a routerLink="/">
                  <span class="nav-icon">
                    <i class="material-icons">
                      sort
                    </i>
                  </span>
        <span class="nav-text">Browse</span>
      </a>
    </li>
    <li>
      <a routerLink="/singer">
                  <span class="nav-icon">
                    <i class="material-icons">
                      list
                    </i>
                  </span>
        <span class="nav-text">Singer</span>
      </a>
    </li>
    <li>
      <a  routerLink="/singer/create">
                  <span class="nav-icon">
                    <i class="material-icons">
                        add
                    </i>
                  </span>
        <span class="nav-text">Add Singer</span>
      </a>
    </li>
    <li *ngIf="isLogin()" >
      <a routerLink="{{user.id}}/profile">

                  <span class="nav-icon">
                    <i class="material-icons">
                        person
                    </i>
                  </span>
        <span class="nav-text">Profile</span>
      </a>
    </li>
    <li *ngIf="isLogin()" >
      <a  routerLink="/create-song">
                  <span class="nav-icon">
                    <i class="material-icons">
                        add
                    </i>
                  </span>
        <span class="nav-text">Add Song</span>
      </a>
    </li>
    <li *ngIf="!isLogin()" >
      <a routerLink="/login" >
                  <span class="nav-icon">
                    <i class="material-icons">
                        login
                    </i>
                  </span>
        <span class="nav-text">Login</span>
      </a>
    </li>

    <li *ngIf="!isLogin()" >
      <a routerLink="/register" >
                  <span class="nav-icon">
                    <i class="material-icons">
                        app_registration
                    </i>
                  </span>
        <span class="nav-text">Signup</span>
      </a>
    </li>
    <li *ngIf="isLogin()" >
      <a (click)="logout()" >
                  <span class="nav-icon">
                    <i class="material-icons">

                    </i>
                  </span>
        <span class="nav-text">Logout</span>
      </a>
    </li>

    <li class="nav-header hidden-folded m-t">
      <span class="text-xs text-muted">Your collection</span>
    </li>
    <li>
      <a  href="profile.html#tracks">
                  <span class="nav-label">
                    <b class="label">8</b>
                  </span>
        <span class="nav-icon">
                    <i class="material-icons">
                      list
                    </i>
                  </span>
        <span class="nav-text">Tracks</span>
      </a>
    </li>
    <li >
      <a  routerLink="all-playlist">
                  <span class="nav-icon">
                    <i class="material-icons">
                      queue_music
                    </i>
                  </span>
        <span class="nav-text">Playlists</span>
      </a>
    </li>
    <li>
      <a  href="profile.html#likes">
                  <span class="nav-icon">
                    <i class="material-icons">
                      favorite_border
                    </i>
                  </span>
        <span class="nav-text">Likes</span>
      </a>
    </li>
  </ul>
</nav>
