<div class="app dk" id="app">

  <!-- ############ LAYOUT START-->

  <!-- aside -->
  <div class="app-aside modal fade nav-dropdown" id="aside">
    <!-- fluid app aside -->
    <div class="left navside grey dk" data-layout="column">
      <div class="navbar no-radius">
        <!-- brand -->
        <a class="navbar-brand md" href="" routerLink="/browse">
          <svg height="32" viewBox="0 0 48 48" width="32" xmlns="http://www.w3.org/2000/svg">
            <circle cx="24" cy="24" fill="rgba(255,255,255,0.2)" r="24"/>
            <circle class="brand-color" cx="24" cy="24" fill="#1c202b" r="22"/>
            <circle cx="24" cy="24" fill="#ffffff" r="10"/>
            <circle class="brand-animate" cx="13" cy="13" fill="#ffffff" r="2"/>
            <path d="M 14 24 L 24 24 L 14 44 Z" fill="#FFFFFF"/>
            <circle cx="24" cy="24" fill="#000000" r="3"/>
          </svg>

          <img alt="." class="hide" src="assets/images/logo.png">
          <span class="hidden-folded inline">Gym Mp3</span>
        </a>
        <!-- / brand -->
      </div>
      <div class="hide-scroll" data-flex>
        <app-sidebar></app-sidebar>
      </div>
      <div data-flex-no-shrink>
        <div class="nav-fold dropup">
          <a data-toggle="dropdown">
              <span class="pull-left xoaytron">
                <img alt="..." class="w-32 img-circle"
                     src="https://media-exp1.licdn.com/dms/image/C510BAQEdjKl11NB6-g/company-logo_200_200/0/1519959194921?e=2159024400&v=beta&t=DDGPgnMddsArR4oUVxPcRnCXjIm7LqkMtAWlBkTmL1Y">
              </span>
            <span class="clear hidden-folded p-x p-y-xs">
                <span class="block _500 text-ellipsis">CodeGym</span>
              </span>
          </a>
          <div class="dropdown-menu w dropdown-menu-scale ">
            <a class="dropdown-item" href="profile.html#profile">
              <span>Profile</span>
            </a>
            <a class="dropdown-item" href="profile.html#tracks">
              <span>Tracks</span>
            </a>
            <a class="dropdown-item" href="profile.html#playlists">
              <span>Playlists</span>
            </a>
            <a class="dropdown-item" href="profile.html#likes">
              <span>Likes</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="docs.html">
              Need help?
            </a>
            <a class="dropdown-item" href="signin.html">Sign out</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- / -->

  <!-- content -->
  <div class="app-content white bg box-shadow-z2" id="content" role="main">
    <div class="app-header hidden-lg-up white lt box-shadow-z1">
      <div class="navbar">
        <!-- brand -->
        <a class="navbar-brand md" href="30.5  22.4" routerLink="/browse">
          <svg height="32" viewBox="0 0 48 48" width="32" xmlns="http://www.w3.org/2000/svg">
            <circle cx="24" cy="24" fill="rgba(255,255,255,0.2)" r="24"/>
            <circle class="brand-color" cx="24" cy="24" fill="#1c202b" r="22"/>
            <circle cx="24" cy="24" fill="#ffffff" r="10"/>
            <circle class="brand-animate" cx="13" cy="13" fill="#ffffff" r="2"/>
            <path d="M 14 24 L 24 24 L 14 44 Z" fill="#FFFFFF"/>
            <circle cx="24" cy="24" fill="#000000" r="3"/>
          </svg>

          <img alt="." class="hide" src="assets/images/logo.png">
          <span class="hidden-folded inline">Gym Mp3</span>
        </a>
        <!-- / brand -->
        <!-- nabar right -->
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item">
            <!-- Open side - Naviation on mobile -->
            <a class="nav-link" data-target="#aside" data-toggle="modal">
              <i class="material-icons">menu</i>
            </a>
            <!-- / -->
          </li>
        </ul>
        <!-- / navbar right -->
      </div>
    </div>
    <div class="app-body" id="view" style="padding-top: 20px">

      <router-outlet></router-outlet>

    </div>
  </div>

</div>

<app-play></app-play>

