<div class="form-group container">
  <input type="text" class="form-control" placeholder="Type to search" [(ngModel)]="data">
</div>
<div class="container-fluid" style="width: 80%">

  <div id="content" class="app-content white bg" role="main">
    <div class="app-body" id="view">
      <div class="page-content">
        <div class="row-col">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-3" *ngFor="let singer of singers| paginate: {
              itemsPerPage:10,
              currentPage:page,
              totalItems:totalLength
            }|filter:data" style="width: 20%">
              <div class="item r" data-id="item-6"
                   data-src="http://api.soundcloud.com/tracks/236107824/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                <div class="item-media ">
                  <button><a
                    style="background-image: url('{{singer.image}}')" class="item-media-content" routerLink="/singer/detail/{{singer.id}}"></a>
                  </button>
                </div>
                <div class="item-info">
                  <div class="item-overlay bottom text-right">
                    <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                    <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu pull-right black lt"></div>
                  </div>
                  <div class="item-title text-ellipsis">
                    <a href="track.detail.html">{{singer.name}}</a>
                  </div>
                  <div class="item-author text-sm text-ellipsis ">
                    <a href="artist.detail.html" class="text-muted">{{singer.date}}</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>

  </div>
</div>
