<h2 style="text-align: center;">Thông tin ca sĩ</h2>

<div class="container">
  <div class="col">
    <div class="col-xl-3">
      <img style="border-radius: 10px" src="{{singer.image}}"
           class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    </div>
  </div>
  <div class="col-xs-6">
    <textarea name="" id="" cols="100" rows="6">
      {{singer.description}}
    </textarea>
    <div>Năm sinh:{{singer.date}}</div>
    <div>giới tính:{{singer.gender}}</div>
  </div>
</div>
<div class="container" style="margin-top: 40px">
  <h3>Danh sách bài hát</h3>
  <table>
    <tr *ngFor="let song of songs">
      <td>{{song.song_name}}</td>
      <td><audio controls>
        <source src="{{song.path}}" type="audio/ogg">
        <source src="{{song.path}}" type="audio/mpeg">
      </audio></td>
    </tr>
  </table>
</div>
