<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-th"></span>
            Change password
          </h3>
        </div>
        <form *ngIf="formChange" [formGroup]="formChange" (ngSubmit)="changePass()">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box"> <br>
              <img alt="" class="img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar1.png">
            </div>

            <div style="margin-top:80px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                  <input formControlName="old_password" class="form-control" type="password" placeholder="Current Password">
                </div>
                <div *ngIf="vali.old_password.invalid && (vali.old_password.dirty || vali.old_password.touched)">
                  <div *ngIf="vali.old_password.errors">
                    <div *ngIf="vali.old_password.errors.required">
                      <i class="form-text text-muted">Current Password  không được để trống</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                  <input formControlName="password" class="form-control" type="password" placeholder="New Password">
                </div>
                <div *ngIf="vali.password.invalid && (vali.password.dirty || vali.password.touched)">
                  <div *ngIf="vali.password.errors">
                    <div *ngIf="vali.password.errors.required">
                      <i class="form-text text-muted">Password  không được để trống</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                  <input formControlName="password_confirmation" class="form-control" type="password" placeholder="Confirm Password">
                </div>
                <div *ngIf="vali.password_confirmation.invalid && (vali.password_confirmation.dirty || vali.password_confirmation.touched)">
                  <div *ngIf="vali.password_confirmation.errors">
                    <div *ngIf="vali.password_confirmation.errors.required">
                      <i class="form-text text-muted">Confirm Password  không được để trống</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6"></div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <button class="btn icon-btn-save btn-success" type="submit">
                  <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>save</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
