/* You can add global styles to this file, and also import other style files */
.input-error {
  border: red 1px solid;
}

.input-invalid {
  border: 1px solid red;
}

.input-valid {
  border: 1px solid green;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
}

.xoaytron {
  animation: 3s rotate infinite linear;
}

.ic-gif-playing-white {
  background-image: url(https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/icons/icon-playing.gif)
}

/*.btn-playpause .is-playing {*/
/*  background-image: url(https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/icons/icon-playing.gif)*/
/*}*/
/*.is-playing*/
.mejs-track-artwork {
  /*animation: 5s rotate infinite linear;*/
  border-radius: 50%;
}

/*.item.r.active .item-media-content {*/
/*  animation: 7s rotate infinite linear;*/
/*  border-radius: 50%;*/
/*}*/

@keyframes rotate {
  100% {
    transform: rotate(1turn)
  }
  /* or 360deg*/
}
